@model IEnumerable<accgame.Context.CayThue>
@{
    ViewBag.Title = "Đơn đã nhận";
    Layout = "~/Areas/quantri/Views/Shared/_Layout.cshtml";
}

<main class="content">
    <div>
        <a href="/quantri/quanlycaythue" class="btn btn-primary mb-3">Đơn chưa nhận</a>
    </div>
    <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
            <thead>
                <tr class="bg-success fs-6">
                    <th class="text-uppercase text-white text-nowrap">ID</th>
                    <th class="text-uppercase text-white text-nowrap">GIÁ TRỊ</th>
                    <th class="text-uppercase text-white text-nowrap">TRẠNG THÁI</th>
                    <th class="text-uppercase text-white text-nowrap">UID</th>
                    <th class="text-uppercase text-white text-nowrap">TÀI KHOẢN</th>
                    <th class="text-uppercase text-white text-nowrap">SERVER</th>
                    <th class="text-uppercase text-white text-nowrap">SỐ ĐIỆN THOẠI</th>
                    <th class="text-uppercase text-white text-nowrap">LOẠI GAME</th>
                    <th class="text-uppercase text-white text-nowrap">NGƯỜI GỬI</th>
                    <th class="text-uppercase text-white text-nowrap">GHI CHÚ</th>
                    <th class="text-uppercase text-white text-nowrap">THỜI GIAN</th>
                    <th class="text-uppercase text-white text-nowrap"></th>
                </tr>
            </thead>
            <tbody class="fs-6">
                @foreach (var item in Model)
                {
                    var thoiGian24h = item.ThoiGianGui.HasValue
                        ? item.ThoiGianGui.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        : string.Empty;
                    <tr class="text-dark">
                        <td class="align-middle">
                            <span style="font-weight: 700" class="mb-0 text-sm">#@item.IDCayThue</span>
                        </td>
                        <td class="align-middle">
                            <span class="">@item.SoTien - @item.GoiNhiemVu.TenGoiNhiemVu</span>
                        </td>
                        <td class="text-sm align-middle">
                            @if (item.HoanThanh == true)
                            {
                                <span class="badge bg-success">Đã hoàn thành</span>
                            }
                            else if (item.HoanThanh == false)
                            {
                                <span class="badge bg-dark">Đã hủy</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Đang chờ</span>
                            }
                        </td>
                        <td>
                            <p class="fw-semibold mb-0">@item.UID</p>
                            <p class="text-xs mb-0 text-nowrap fst-italic">Tên nv: @item.TenNhanVat</p>
                        </td>
                        <td class="text-sm align-middle">
                            <span class="">@item.TenDangNhap</span>
                            <p class="text-xs mb-0 text-nowrap fst-italic">Mật khẩu: @item.MatKhau</p>
                        </td>
                        <td class="align-middle">
                            <span class="">@item.Server</span>
                        </td>
                        <td class="align-middle">
                            <span class="">@item.SoDienThoai</span>
                        </td>
                        <td class="align-middle">
                            @if (item.LoaiGame == 1)
                            {
                                <span class="">Honkai Star Rail</span>
                            }
                            else
                            {
                                <span class="">GenShin Impact</span>
                            }
                        </td>
                        <td class="align-middle">
                            <span class="">@item.NguoiDung.TenNguoiDung</span>
                        </td>
                        <td class="align-middle">
                            <span class="">@item.GhiChu</span>
                        </td>
                        <td class="align-middle">
                            <span class="">@thoiGian24h</span>
                        </td>
                        <td class="align-middle">
                            @if (item.HoanThanh == null)
                            {
                                <a href="/quantri/quanlycaythue/huydon/@item.IDCayThue" onclick="if (confirm('Bạn muốn hủy đơn này mà không hoàn tiền?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-warning text-white">Hủy đơn</a>
                                <a href="/quantri/quanlycaythue/huydonhoan/@item.IDCayThue" onclick="if (confirm('Bạn muốn hủy đơn này mà hoàn lại tiền?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-warning text-white">Hủy đơn hoàn tiền</a>
                                <a href="/quantri/quanlycaythue/hoanthanh/@item.IDCayThue" onclick="if (confirm('Bạn đã hoàn thành đơn này?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-primary text-white">Hoàn thành</a>
                            }

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</main>
