@model IEnumerable<accgame.Context.ApiAcc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/quantri/Views/Shared/_Layout.cshtml";
}


<main class="content">
    <div class="row">
        <div class="col-12">
            <form method="get" action="/quantri/ApiAcc" class="input-group mb-3">
                <button type="submit" class="input-group-text" id="basic-addon1">Tìm kiếm</button>
                <input type="text" required class="form-control" name="search" placeholder="Nhập nội dung tìm kiếm" aria-label="Username" aria-describedby="basic-addon1">
            </form>
        </div>
        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <a href="/quantri/ApiAcc/key" class="btn btn-primary m-3">Danh sách key</a>
                <div class="card-header">
                    <h5 class="card-title mb-0">Danh sách acc đã bán</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="">Website</th>
                                <th class="">Tên loại</th>
                                <th class="">Giá</th>
                                <th class="">Thời gian</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>#@item.IdApi</td>
                                    <td>#@item.Website</td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Time</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <ul class="d-flex ps-0 list-unstyled justify-content-center mt-4">
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/ApiAcc?page=1">«</a></li>
                    @for (int i = Convert.ToInt16(ViewBag.page) - 3; i < Convert.ToInt16(ViewBag.page); i++)
                    {
                        if (i > 0)
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/ApiAcc?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2  border-1 border border-dark" href="/quantri/ApiAcc?page=@i">@i</a></li>
                            }
                        }
                    }
                    @for (int i = Convert.ToInt16(ViewBag.page); i <= Convert.ToInt16(ViewBag.page + 3); i++)
                    {
                        if (i <= Convert.ToInt16(ViewBag.last_page))
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/ApiAcc?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2 border-1 border border-dark" href="/quantri/ApiAcc?page=@i">@i</a></li>
                            }
                        }
                    }
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/ApiAcc?page=@ViewBag.last_page">»</a></li>
                </ul>
            </div>
        </div>
    </div>

</main>

