@model IEnumerable<accgame.Context.AccRandom>
@{
    ViewBag.Title = "Tài khoản Random + RR";
    Layout = "~/Areas/quantri/Views/Shared/_Layout.cshtml";
}


<main class="content">
    <div class="row">
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-success dropdown-toggle btn-show-loaiacc">
                Các loại Acc
            </button>
            <div class="css-timkiem show-loai-acc d-none">
                <form id="updateForm" class="d-flex align-items-center my-4">
                    <h5 class="mb-0 fw-bold me-3">Sửa thông báo Mua Acc: </h5>
                    <input class="form-control shadow-none w-50" type="text" id="thongbaomuaacc" name="thongbaomuaacc" value="@ViewBag.thongbaomuacc" />
                    <button type="submit" class="btn btn-success ms-3 p-2 text-dark fw-bold">Cập nhật</button>
                </form>

                <div id="responseMessage" style="display:none;" class="fs-5 fw-bold text-danger mt-3"></div>

                <div class="row gx-2 justify-content-center">
                    @foreach (var listgame in ViewBag.listgame)
                    {
                        <div class="text-center mt-2">
                            <img src="@listgame.Image" width="100" class="img-fluid" />
                            <h2 class="fw-bold fs-1 desc-top-slider">@listgame.TenLoaiGame</h2>
                        </div>
                        foreach (var item in ViewBag.loaiacc)
                        {
                            if (item.IDLoaiGame == listgame.IDLoaiGame)
                            {
                                <div class=" col-md-3 col-sm-6 col-12">
                                    <div class="card">
                                        <img src="@item.Image" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.TenLoaiAcc</h5>
                                            @if (item.DacBiet == true)
                                            {
                                                <a href="/quantri/quanlytaikhoan/loaiaccdacbiet/@item.IDLoaiAcc" class="btn btn-danger">Xem ngay</a>

                                            }
                                            else
                                            {
                                                <a href="/quantri/quanlytaikhoan/loaiacc/@item.IDLoaiAcc" class="btn btn-primary">Xem ngay</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="css-timkiem">
                <form class="form-search" method="GET" action="/quantri/quanlytaikhoan">
                    <div class="d-flex align-items-center mb-4">
                        <h4 class="ten-game me-3 mb-0">Tìm theo</h4>
                        <select class="form-select form-select-sm shadow-none select-theloaiacc w-25" id="sapxep" name="theloaiacc" aria-label=".form-select-lg example">
                            <option value="0">Acc Vip</option>
                            <option value="1" selected>Acc Random + Rr</option>
                        </select>
                    </div>
                    <div class="mb-3">

                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <select class="form-select form-select-sm shadow-none" id="sapxep" name="sapxep" aria-label=".form-select-lg example">
                                    <option value="10" selected>Tình trạng</option>
                                    <option value="0" @if (ViewBag.sapxep == "0") { <text> selected</text> }>Acc chưa bán</option>
                                    <option value="1" @if (ViewBag.sapxep == "1") { <text> selected</text> }>Acc đã bán</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <input class="form-control shadow-none" type="text" id="searchInputNv" name="searchMa" placeholder="Tìm theo mã số..." value="@ViewBag.searchMa">
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <input class="form-control shadow-none" type="text" id="searchInputVk" name="searchTK" placeholder="Tìm theo Tài khoản Acc..." value="@ViewBag.searchTK">
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <select class="form-select form-select-sm shadow-none" id="loaigame" name="loaigame" aria-label=".form-select-lg example">
                                    <option value="" selected>Chọn Loại game</option>
                                    @foreach (var loaigame in ViewBag.listgame)
                                    {
                                        <option value="@loaigame.IDLoaiGame" @(ViewBag.loaigame == loaigame.IDLoaiGame ? "selected" : "")>@loaigame.TenLoaiGame</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <input class="form-control shadow-none" type="text" id="searchInputVk" name="searchND" placeholder="Tìm theo người đăng" value="@ViewBag.searchND">
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <div class="text-center text-nowrap">
                                    <button type="submit" class="btn btn-danger rounded-pill"><i class="fas fa-search me-2"></i>Tìm kiếm</button>
                                    <a href="/quantri/quanlytaikhoan" class="btn btn-secondary rounded-pill ms-2"><i class="fas fa-times me-2"></i>Xóa lọc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">Tài khoản</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Mã</th>
                                <th class="">Người đăng</th>
                                <th class="">Ngày đăng</th>
                                <th class="">Ngày bán</th>
                                <th class="">Tên danh mục</th>
                                <th class="">Tên TK</th>
                                <th class="">Mật khẩu</th>
                                <th class="">Mật khẩu Outlook</th>
                                <th class="">Mail khôi phục</th>
                                <th class="">Mật khẩu Mail khôi phục</th>
                                <th class="">Mật khẩu Mail</th>
                                <th class="">Tình trạng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var thoiGian24h = item.ThoiGianDang.HasValue
                                ? item.ThoiGianDang.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                : string.Empty;
                                var thoiGianBan24h = item.ThoiGianBan.HasValue
                                ? item.ThoiGianBan.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                : string.Empty;
                                <tr>
                                    <td>#@item.IDAccRandom</td>
                                    <td>@(item.NguoiDung?.TenNguoiDung ?? "")</td>
                                    <td>@thoiGian24h</td>
                                    <td>@thoiGianBan24h</td>
                                    <td>
                                        @item.DanhMuc.TenDanhMuc
                                    </td>
                                    <td>@item.TaiKhoan</td>
                                    <td>@item.MatKhau</td>
                                    <td>@item.MatKhauOutlook</td>
                                    <td>@item.MailKhoiPhuc</td>
                                    <td>@item.MatKhauMailKhoiPhuc</td>
                                    <td>@item.MatKhauMail</td>
                                    @if (item.DaBan == true)
                                    {
                                        <td class="text-danger fw-bold">Đã bán</td>
                                    }
                                    else
                                    {
                                        <td class="text-success fw-bold">Chưa bán</td>
                                    }

                                    <td class="text-nowrap">
                                        <a href="/quantri/quanlydanhmuc/suaacc/@item.IDAccRandom" class="badge bg-danger">Sửa</a>
                                        <a href="/quantri/quanlydanhmuc/xoaacc/@item.IDAccRandom?page=@ViewBag.page&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc" onclick="if (confirm('Bạn muốn xóa tài khoản này?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-success">Xóa</a>
                                        <a href="/quantri/quanlytaikhoan/LamMoiTaiKhoanRR/@item.IDAccRandom" onclick="if (confirm('Bạn muốn làm mới tài khoản này?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-warning">Làm mới</a>

                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <ul class="d-flex ps-0 list-unstyled justify-content-center mt-4">
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/quanlytaikhoan/RandomRR?page=1&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">«</a></li>
                    @for (int i = Convert.ToInt16(ViewBag.page) - 3; i < Convert.ToInt16(ViewBag.page); i++)
                    {
                        if (i > 0)
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/quanlytaikhoan/RandomRR?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2  border-1 border border-dark" href="/quantri/quanlytaikhoan/RandomRR?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                        }
                    }
                    @for (int i = Convert.ToInt16(ViewBag.page); i <= Convert.ToInt16(ViewBag.page + 3); i++)
                    {
                        if (i <= Convert.ToInt16(ViewBag.last_page))
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/quanlytaikhoan/RandomRR?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2 border-1 border border-dark" href="/quantri/quanlytaikhoan/RandomRR?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                        }
                    }
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/quanlytaikhoan/RandomRR?page=@ViewBag.last_page&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&searchND=@ViewBag.searchND&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">»</a></li>
                </ul>

            </div>
        </div>
    </div>
    @if (TempData["SuccessThem"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Thêm mới thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessSua"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Chỉnh sửa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessXoa"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Xóa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
</main>

<script>
    $(document).ready(function () {
        $(".btn-show-loaiacc").click(function () {
            if ($(".show-loai-acc").hasClass("d-none")) {
                $(".show-loai-acc").removeClass("d-none").addClass("d-block");
            } else {
                $(".show-loai-acc").removeClass("d-block").addClass("d-none");
            }
        });

        $('.select-theloaiacc').on('change', function () {
            var formSearch = $('.form-search');
            if ($(this).val() == '0') {
                formSearch.attr('action', '/quantri/quanlytaikhoan');
            } else if ($(this).val() == '1') {
                formSearch.attr('action', '/quantri/quanlytaikhoan/RandomRR');
            }
        });

        // Kiểm tra giá trị của select khi trang vừa load
        var formSearch = $('.form-search');
        let selectTheloai = $('.select-theloaiacc').val();
        if (selectTheloai == '0') {
            formSearch.attr('action', '/quantri/quanlytaikhoan');
        } else if (selectTheloai == '1') {
            formSearch.attr('action', '/quantri/quanlytaikhoan/RandomRR');
        }
    });
    $(document).ready(function () {
        $('#updateForm').on('submit', function (e) {
            e.preventDefault();

            var thongbaomuaacc = $('#thongbaomuaacc').val();

            $.ajax({
                url: '/quantri/quanlytaikhoan/UpdateThongBaoMuaAcc', // Thay YourControllerName bằng tên controller của bạn
                type: 'POST',
                data: { thongbaomuaacc: thongbaomuaacc },
                success: function (response) {
                    if (response.success) {
                        $('#responseMessage').removeClass('alert-danger').addClass('alert-success').text(response.message).show();
                    } else {
                        $('#responseMessage').removeClass('alert-success').addClass('alert-danger').text(response.message).show();
                    }
                },
                error: function () {
                    $('#responseMessage').removeClass('alert-success').addClass('alert-danger').text("Đã xảy ra lỗi trong quá trình cập nhật.").show();
                }
            });
        });
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        // Kiểm tra nếu phần tử success toast tồn tại
        var successToastElement = document.getElementById('successToast');
        if (successToastElement) {
            var successToast = new bootstrap.Toast(successToastElement);
            successToast.show();
        }
    });
</script>