@model accgame.Models.HomeModels
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about about-acc">
    <div class="container mt-5">
        <div class="form-dangky p-0 border-dangky mb-2 mt-0 mx-0 bg-white">
            <div class="pb-3 text-center">
                <h2 class="text-center text-uppercase d-block pt-5 pb-2 fw-bold" style="color: #726550">
                    Mua code @ViewBag.tieude    
                </h2>
                <img class="img-fluid" src="/Content/assets/img/AuthDevider.png">
            </div>
            <div class="row g-4">
                <div class="col-lg-6">
                    <img src="@ViewBag.AnhCode" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h2 class="text-center text-uppercase d-block pb-2 fw-bold fs-5" style="color: #726550">
                        Chọn loại code
                    </h2>
                    <form method="post">
                        @foreach (var item in Model.listLoaiCode)
                        {
                            <div class="border-1 border border-danger shadow-sm px-3 py-2 rounded-3 text-danger fw-bold fs-5 mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="@item.IDLoaiCode" name="IDLoaiCode" id="loaicode_@item.IDLoaiCode">
                                    <label class="form-check-label w-100 text-end" for="loaicode_@item.IDLoaiCode">
                                        @item.TenLoaiCode | Giá: @Convert.ToInt32(item.Gia).ToString("N0").Replace(',', '.') VNĐ
                                    </label>
                                </div>
                            </div>
                        }
                    </form>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-shopping-cart"></i> Mua code
                    </button>
                </div>
            </div>
        </div>
        <div class="form-dangky p-0 border-dangky mt-5 mb-0 mx-0 bg-white">
            <div class="pb-3 text-center">
                <h2 class="text-center text-uppercase d-block pt-5 pb-2 fw-bold" style="color: #726550">
                    Danh sách code đã mua
                </h2>
                <img class="img-fluid" src="/Content/assets/img/AuthDevider.png">
            </div>
            <div class="table-responsive p-0" id="divToReplace">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr class="bg-success fs-6">
                            <th class="text-uppercase text-white text-nowrap">ID</th>
                            <th class="text-uppercase text-white text-nowrap">GIÁ TRỊ</th>
                            <th class="text-uppercase text-white text-nowrap">LOẠI CODE</th>
                            <th class="text-uppercase text-white text-nowrap">THỜI GIAN MUA</th>
                            <th class="text-uppercase text-white text-nowrap">MÃ CODE</th>
                            <th class="text-uppercase text-white text-nowrap"></th>
                        </tr>
                    </thead>
                    <tbody class="fs-6">
                        @foreach (var item in Model.listCode)
                        {
                            <tr class="text-dark">
                                <td class="align-middle">
                                    <span style="font-weight: 700" class="mb-0 text-sm">#@item.IDCode</span>
                                </td>
                                <td class="align-middle">
                                    <span class="">@Convert.ToInt32(item.LoaiCode.Gia).ToString("N0").Replace(",", ".") VNĐ </span>
                                </td>
                                <td class="align-middle">
                                    <span class="badge bg-primary">@item.LoaiCode.TenLoaiCode</span>
                                </td>
                                <td class="text-sm align-middle">
                                    <span class="badge bg-danger">@item.ThoiGianMua</span>
                                </td>
                                <td class="align-middle">
                                    <div id="macode_@item.IDCode">@item.MaCode</div>
                                    @if (item.LoaiCode.CodeNoiBo == true)
                                    {
                                        <span class="badge bg-danger">Code nội bộ</span>
                                    }

                                </td>

                                <td class="align-middle">
                                    <button class="btn btn-light rounded-pill" onclick="copyToClipboard('#macode_@item.IDCode')"><i class="fas fa-copy"></i> Sao chép</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                @Html.PagedListPager(Model.listCode, page => Url.Action("Index", new { page, id = ViewBag.slug }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "divToReplace" }))
            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content position-relative">
            <div class="modal-header modal-header">
                <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Mua code</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger text-center modal-header d-block">
                <p class="fs-5">
                    Bạn muốn mua code này?
                </p>
                <div id="change" class="my-3">

                </div>
                <div class="mx-auto" style="display: none" id="loader">
                    <div colspan="4" class="text-center" style="border-bottom-width: 0px !important">
                        <div class="spinner-border text-danger text-center" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <input id="soluong" type="number" class="text-center form-control rounded-pill p-3 fw-bold fs-6 w-100 d-block w-100" placeholder="Nhập số lượng code muốn mua!" />
            </div>
            <div class="modal-footer modal-header text-center d-block">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Đóng</button>
                <a id="muangay" href="/MuaCode/mua/" class="btn btn-danger rounded-pill" data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#change">Mua ngay</a>
            </div>
        </div>
    </div>
</div>
<script>
    $("#muangay").click(function () {
        if ($('input[name="IDLoaiCode"]:checked').val() == null) {
            $("#change").html("Bạn chưa chọn loại code!");
        }
        else if ($("#soluong").val() == null || $("#soluong").val() < 1) {
            $("#change").html("Số lượng bạn chọn chưa chính xác!");
        }
        else {
            $("#muangay").attr("href", "/MuaCode/mua?soluong=" + $("#soluong").val() + "&idloaicode=" + $('input[name="IDLoaiCode"]:checked').val());
        }
    });
</script>
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
        alert("Sao chép thành công!")
    }
</script>