@model accgame.Context.NguoiDung
@{
    ViewBag.Title = "hoso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="about" class="about about-acc">
    <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-center mh-100">
            <div class="w-100" style="">
                <div class="text-center form-dangky shadow-lg p-2 p-md-4 rounded-1 position-relative">
                    <div class="border-dangky px-md-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <div style="border-radius: 30px; border: 1px solid rgb(218, 184, 143); margin-top: 60px; padding-top: 73px; background-color: rgb(244, 236, 224);" class="position-relative">
                                    <div class="position-absolute start-50 translate-middle-x top-0">
                                        <div class="position-relative">
                                            @if (Model.AnhDaiDien == null)
                                            {
                                                <img src="~/Content/images/avatars/1.png" class="rounded-circle bg-white doi-avt" style="max-width: 113px; margin-top: -40px;border: 6px solid rgb(191, 174, 155);" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/avatars/@Model.AnhDaiDien" class="rounded-circle bg-white doi-avt" style="max-width: 113px; margin-top: -40px;border: 6px solid rgb(191, 174, 155);" />

                                            }
                                            <img src="~/Content/images/avatars/Crystal.png" class="position-absolute start-50 bottom-0 translate-middle-x" style="margin-bottom: -18px" />
                                        </div>

                                    </div>
                                    <h2 class="text-danger mt-3 fs-5 fw-bold py-3 rounded-pill" style="background-image: url('/Content/images/avatars/BGName.png'); background-size: contain; background-position: center; background-repeat: no-repeat; margin-left: -30px; margin-right: -30px;">
                                        @Model.TenNguoiDung
                                    </h2>
                                    <div class="text-danger bg-light fs-5 fw-bold py-3 rounded-pill mx-2 my-3 position-relative">
                                        <span class="ms-4 ps-4">@Convert.ToInt32(Model.Tien).ToString("N0")</span>
                                        <img class="position-absolute start-0 top-50 translate-middle-y" src="~/Content/images/avatars/coin.png" />
                                    </div>
                                    <div class="border-bottom">
                                        <a href="/naptien/ATM" class="fs-6 fw-bold" style="color: rgb(114, 101, 80)">
                                            Nạp vào ví
                                        </a>
                                    </div>
                                    <div class="border-bottom">
                                        <a href="/nguoidung/hoso" class="fs-6 fw-bold text-danger" style="color: rgb(114, 101, 80)">
                                            Thông tin tài khoản
                                        </a>
                                    </div>
                                    @* <div class="border-bottom mb-5">
                            <a href="#" class="fs-6 fw-bold" style="color: rgb(114, 101, 80)">
                                Ưu đãi vip
                            </a>
                        </div>*@
                                    <img class="img-fluid" src="~/Content/images/avatars/PaimonPayment.png" />
                                </div>
                            </div>
                            <div class="col-lg-9 px-0 px-md-3">
                                <div style="border-radius: 30px; border: 1px solid rgb(218, 184, 143); margin-top: 60px; background-color: rgb(244, 236, 224);" class="position-relative p-2 p-md-4">
                                    <div class="pb-3">
                                        <h2 class="text-center d-block fw-bold fs-3 mt-3 mt-md-0" style="color: #726550">
                                            Thông tin tài khoản
                                        </h2>
                                        <img class="img-fluid" src="/Content/assets/img/AuthDevider.png">
                                    </div>
                                    <div class="mt-4">
                                        <div class="position-relative">
                                            @if (Model.AnhDaiDien == null)
                                            {
                                                <img src="/Content/images/avatars/1.png" class="rounded-circle bg-white doi-avt" style="max-width: 113px; margin-top: -40px;border: 2px solid rgb(191, 174, 155);">
                                            }
                                            else
                                            {
                                                <img src="/Content/images/avatars/@Model.AnhDaiDien" class="rounded-circle bg-white doi-avt" style="max-width: 113px; margin-top: -40px;border: 2px solid rgb(191, 174, 155);">
                                            }
                                        </div>
                                        <button class="btn btn-outline-danger rounded-pill border-2 fs-12-md-16" data-bs-toggle="modal" data-bs-target="#exampleModal">Đổi avatar</button>
                                        <div class="d-flex justify-content-between align-items-center fs-12-md-16">
                                            <div class="fw-bold text-start my-3" style="color: rgb(114, 101, 80);">
                                                Tên người dùng: @Model.TenNguoiDung
                                            </div>
                                            <div class="btn btn-outline-danger rounded-pill border-2 text-nowrap fs-12-md-16">
                                                Đã liên kết
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center fs-12-md-16">
                                            <div class="fw-bold text-start my-3" style="color: rgb(114, 101, 80);">
                                                Email liên kết: @ViewBag.email
                                            </div>
                                            <div class="btn btn-outline-danger rounded-pill border-2 text-nowrap fs-12-md-16">
                                                Đã liên kết
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center fs-12-md-16">
                                            <div class="fw-bold text-start my-3" style="color: rgb(114, 101, 80);">
                                                Đổi mật khẩu
                                            </div>
                                            <div class="btn btn-outline-danger rounded-pill border-2 text-nowrap fs-12-md-16 px-4" data-bs-toggle="modal" data-bs-target="#doimatkhau">
                                                Đổi
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute top-0 end-0 menu-hoso">
                        <a href="/nguoidung/biendongsodu" class="btn fs-11-md-16-lg-24 fw-bold px-5" style="background-image: url('/Content/images/backgroundAT.de9a14c4.png'); color: rgb(241, 232, 211);">Biến động số dư</a>
                        <a href="/nguoidung/hoso" class="btn fs-11-md-16-lg-24 fw-bold px-5" style="background-image: url('/Content/images/buttonNormal.png'); color: rgb(161, 138, 111); ">Thông tin tài khoản</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="doimatkhau" tabindex="-1" aria-labelledby="doimatkhau" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content form-dangky p-0 m-0 position-relative">
            <div class="border-dangky p-0">
                <div class="modal-header">
                    <h1 class="modal-title fs-4 fw-bold text-danger" id="exampleModalLabel">Đổi mật khẩu</h1>
                </div>
                <div class="modal-body">
                    <input required type="password" class="form-control login-input rounded-pill p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Mật khẩu cũ" name="matkhaucu" id="matkhaucu">
                    <div class="text-danger fw-bold fs-6" id="loi_matkhaucu">

                    </div>
                    <input required type="password" class="form-control login-input rounded-pill mt-3 p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Mật khẩu mới" name="matkhau" id="matkhau">
                    <div class="text-danger fw-bold fs-6" id="loi_matkhau">

                    </div>
                    <input required type="password" class="form-control login-input rounded-pill mt-3 p-3 fw-bold fs-6" value="@ViewBag.MatKhau" placeholder="Nhập lại mật khẩu mới" name="nhaplai" id="nhaplai">
                    <div class="text-danger fw-bold fs-6" id="loi_nhaplai">

                    </div>
                </div>
                <div class="modal-footer p-0 justify-content-center">
                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger rounded-pill" id="luu_mat_khau">Lưu lại</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content form-dangky p-0 m-0 position-relative">
            <div class="modal-header border-dangky p-0">
                <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Đổi Avatar</h1>
            </div>
            <div class="modal-body border-dangky p-0">
                <div class="row g-3 justify-content-center">
                    <div class="col-6 col-sm-4 text-center">
                        <input value="1.png" type="radio" class="input-anh d-none" name="anh" id="anh_1" />
                        <label for="anh_1" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/1.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="2.png" type="radio" class="input-anh d-none" name="anh" id="anh_2" />
                        <label for="anh_2" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/2.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="3.png" type="radio" class="input-anh d-none" name="anh" id="anh_3" />
                        <label for="anh_3" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/3.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="4.png" type="radio" class="input-anh d-none" name="anh" id="anh_4" />
                        <label for="anh_4" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/4.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="5.png" type="radio" class="input-anh d-none" name="anh" id="anh_5" />
                        <label for="anh_5" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/5.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="6.png" type="radio" class="input-anh d-none" name="anh" id="anh_6" />
                        <label for="anh_6" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/6.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="7.png" type="radio" class="input-anh d-none" name="anh" id="anh_7" />
                        <label for="anh_7" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/7.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="8.png" type="radio" class="input-anh d-none" name="anh" id="anh_8" />
                        <label for="anh_8" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/8.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="9.png" type="radio" class="input-anh d-none" name="anh" id="anh_9" />
                        <label for="anh_9" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/9.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="10.png" type="radio" class="input-anh d-none" name="anh" id="anh_10" />
                        <label for="anh_10" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/10.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="11.png" type="radio" class="input-anh d-none" name="anh" id="anh_11" />
                        <label for="anh_11" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/11.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="12.png" type="radio" class="input-anh d-none" name="anh" id="anh_12" />
                        <label for="anh_12" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/12.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="13.png" type="radio" class="input-anh d-none" name="anh" id="anh_13" />
                        <label for="anh_13" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/13.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="14.png" type="radio" class="input-anh d-none" name="anh" id="anh_14" />
                        <label for="anh_14" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/14.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="15.png" type="radio" class="input-anh d-none" name="anh" id="anh_15" />
                        <label for="anh_15" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/15.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="16.png" type="radio" class="input-anh d-none" name="anh" id="anh_16" />
                        <label for="anh_16" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/16.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="17.png" type="radio" class="input-anh d-none" name="anh" id="anh_17" />
                        <label for="anh_17" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/17.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="18.png" type="radio" class="input-anh d-none" name="anh" id="anh_18" />
                        <label for="anh_18" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/18.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="19.png" type="radio" class="input-anh d-none" name="anh" id="anh_19" />
                        <label for="anh_19" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/19.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="20.png" type="radio" class="input-anh d-none" name="anh" id="anh_20" />
                        <label for="anh_20" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/20.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="21.png" type="radio" class="input-anh d-none" name="anh" id="anh_21" />
                        <label for="anh_21" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/21.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="22.png" type="radio" class="input-anh d-none" name="anh" id="anh_22" />
                        <label for="anh_22" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/22.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="23.png" type="radio" class="input-anh d-none" name="anh" id="anh_23" />
                        <label for="anh_23" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/23.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="24.png" type="radio" class="input-anh d-none" name="anh" id="anh_24" />
                        <label for="anh_24" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/24.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="25.png" type="radio" class="input-anh d-none" name="anh" id="anh_25" />
                        <label for="anh_25" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/25.png" width="100" class="" />
                        </label>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <input value="26.png" type="radio" class="input-anh d-none" name="anh" id="anh_26" />
                        <label for="anh_26" class="hoso-avt rounded-circle">
                            <img src="~/Content/images/avatars/26.png" width="100" class="" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-dangky p-0 justify-content-center">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Hủy</button>
                <button class="btn btn-danger rounded-pill" id="luu_atv">Lưu lại</button>
            </div>

        </div>
    </div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 10000">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto"><span class="change-domain"></span></strong>
            <small>Thông báo</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-danger bg-light" id="thongbao">
            Thay đổi AVATAR thành công!
        </div>
    </div>
</div>
<script>
    const toastLiveExample = document.getElementById('liveToast')
    $("#luu_atv").click(function () {
        var giaTri = $('input[name="anh"]:checked').val();
        var model = {};
        model.avatar = giaTri;
        $.ajax({
            type: "POST",
            url: '@Url.Action("doiavt", "nguoidung")',
            data: JSON.stringify(model),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#thongbao").text(data.message);
                const toast = new bootstrap.Toast(toastLiveExample);
                $(".doi-avt").attr("src", "/Content/images/avatars/" + giaTri);
                toast.show();
            },
            error: function () {
                alert("Loi");
            }
        });
        return false;
    });
$('#luu_mat_khau').click(function() {
    // Lấy giá trị từ các input
    const matKhauCu = $('#matkhaucu').val();
    const matKhauMoi = $('#matkhau').val();
    const nhapLai = $('#nhaplai').val();
    const loiMatKhauCu = $('#loi_matkhaucu');
    const loiMatKhauMoi = $('#loi_matkhau');
    const loiNhapLai = $('#loi_nhaplai');

    // Xóa các thông báo lỗi trước đó
    loiMatKhauCu.text('');
    loiMatKhauMoi.text('');
    loiNhapLai.text('');

    let hasError = false;

    // Kiểm tra các trường hợp chưa nhập hoặc không khớp
    if (!matKhauCu) {
        loiMatKhauCu.text('Vui lòng nhập mật khẩu hiện tại.');
        hasError = true;
    }
    if (!matKhauMoi) {
        loiMatKhauMoi.text('Vui lòng nhập mật khẩu mới.');
        hasError = true;
    } else if (matKhauMoi === matKhauCu) {
        loiMatKhauMoi.text('Mật khẩu mới không được trùng với mật khẩu hiện tại.');
        hasError = true;
    }
    if (matKhauMoi !== nhapLai) {
        loiNhapLai.text('Mật khẩu nhập lại không khớp.');
        hasError = true;
    }

    if (!hasError) {
        // Gửi yêu cầu AJAX tới server để kiểm tra mật khẩu hiện tại và kiểm tra trong bảng OldPass
        $.ajax({
    url: '@Url.Action("doimk", "nguoidung")',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({
        matkhaucu: matKhauCu,
        matkhau: matKhauMoi
    }),
    success: function(data) {
        console.log(data);  // Ghi lại phản hồi từ server để kiểm tra
        if (data.status === 'error') {
            if (data.errorCode === 'wrong_old_password') {
                loiMatKhauCu.text('Mật khẩu hiện tại không đúng.');
            } else if (data.errorCode === 'old_password_reused') {
                loiMatKhauMoi.text('Mật khẩu mới đã được sử dụng trước đó. Vui lòng chọn mật khẩu khác.');
            }
        } else {
            // Hiển thị thông báo đổi mật khẩu thành công và ẩn modal
            alert('Đổi mật khẩu thành công.');
            $('#doimatkhau').modal('hide');
        }
    },
    error: function(error) {
        console.error('Error:', error);
    }
});
    }
});


</script>