@model IEnumerable<accgame.Context.NhanVat>
@{
    ViewBag.Title = "Index";
    Layout = "~/areas/quantri/Views/Shared/_Layout.cshtml";
}

<main class="content">
    <div class="row">
        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <form action="/quantri/nhanvat" method="post">
                        <div class="row g-3">
                            <div class="col-6 col-md-3">
                                <input type="text" required class="form-control" name="TenNhanVat" placeholder="Tên nhân vật">
                            </div>
                            <div class="col-6 col-md-3">
                                <input type="text" class="form-control" name="Avatar" placeholder="Ảnh đại diện">
                            </div>
                            <div class="col-6 col-md-3">
                                <input type="number" class="form-control" name="Sao" placeholder="Cấp sao">
                            </div>
                            <div class="col-6 col-md-3">
                                <select class="form-select mb-3" name="loaigame">
                                    @foreach (var item in ViewBag.loaiGame)
                                    {
                                        <option @if (item.IDLoaiGame == ViewBag.idLoaiGame) { <text> selected </text> } value="@item.IDLoaiGame">@item.TenLoaiGame</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Thêm nhân vật</button>
                            </div>
                        </div>

                    </form>
                    <div class="text-center">
                        @foreach (var item in ViewBag.loaiGame)
                        {
                            <a href="/quantri/nhanvat?loaigame=@item.IDLoaiGame" class="btn  @if (item.IDLoaiGame == ViewBag.idLoaiGame) { <text> btn-danger </text>} else { <text> btn-outline-danger </text> } m-3">@item.TenLoaiGame</a>
                        }
                    </div>
                </div>
                <div class="card-header">
                    <h5 class="card-title mb-0">Nhân vật</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="">Tên nhân vật</th>
                                <th class="">Avatar</th>
                                <th class="">Cấp sao</th>
                                <th class="">Loại game</th>
                                <th class=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>#@item.IDNhanVat</td>
                                    <td>@item.TenNhanVat</td>
                                    <td><img width="40" height="40" class="rounded-circle" src="@item.Avatar" /> </td>
                                    <td>@item.Sao</td>

                                    <td>@(item.LoaiGame1?.TenLoaiGame ?? "")</td>
                                    <td>
                                        <a href="/quantri/nhanvat/sua/@item.IDNhanVat" class="badge bg-success">Sửa</a>
                                        <a href="/quantri/nhanvat/xoa/@item.IDNhanVat" onclick="if (confirm('Bạn muốn xóa nhân vật này?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-success">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    @if (TempData["SuccessThem"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Thêm mới thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessSua"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Chỉnh sửa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessXoa"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Xóa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
</main>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Kiểm tra nếu phần tử success toast tồn tại
        var successToastElement = document.getElementById('successToast');
        if (successToastElement) {
            var successToast = new bootstrap.Toast(successToastElement);
            successToast.show();
        }
    });
</script>

