@model IEnumerable<accgame.Context.Acc>
@{
    ViewBag.Title = "Tất cả tài khoản";
    Layout = "~/Areas/quantri/Views/Shared/_Layout1.cshtml";
}


<main class="content">
    <div class="row">
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-success dropdown-toggle btn-show-loaiacc">
                Các loại Acc
            </button>
            <div class="css-timkiem show-loai-acc d-none">
                <div id="responseMessage" style="display:none;" class="fs-5 fw-bold text-danger mt-3"></div>

                <div class="row gx-2 justify-content-center">
                    @foreach (var listgame in ViewBag.listgame)
                    {
                        <div class="text-center mt-2">
                            <img src="@listgame.Image" width="100" class="img-fluid" />
                            <h2 class="fw-bold fs-1 desc-top-slider">@listgame.TenLoaiGame</h2>
                        </div>
                        foreach (var item in ViewBag.loaiacc)
                        {
                            if (item.IDLoaiGame == listgame.IDLoaiGame)
                            {
                                <div class=" col-md-3 col-sm-6 col-12">
                                    <div class="card">
                                        <img src="@item.Image" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.TenLoaiAcc</h5>
                                            @if (item.DacBiet == true)
                                            {
                                                <a href="/quantri/taikhoancuatoi/loaiaccdacbiet/@item.IDLoaiAcc" class="btn btn-danger">Xem ngay</a>

                                            }
                                            else
                                            {
                                                <a href="/quantri/taikhoancuatoi/loaiacc/@item.IDLoaiAcc" class="btn btn-primary">Xem ngay</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="css-timkiem">
                <form class="form-search" method="GET" action="/quantri/taikhoancuatoi">

                    <div class="d-flex align-items-center mb-4">
                        <h4 class="ten-game me-3 mb-0">Tìm theo</h4>
                        <select class="form-select form-select-sm shadow-none select-theloaiacc w-25" id="sapxep" name="theloaiacc" aria-label=".form-select-lg example">
                            <option value="0" selected>Acc Vip</option>
                            <option value="1">Acc Random + Rr</option>
                        </select>
                        <div class="d-flex align-items-center border border-danger p-2 ms-2 text-nowrap">
                            <label class="fs-4 me-2 fw-bold text-danger">Ẩn Acc Vip</label>
                            @if (ViewBag.AnAccVip == true)
                            {
                                <input data-level="@Convert.ToInt32(Session["IDNguoiDung"])" data-id="@Convert.ToInt32(Session["IDNguoiDung"])" data-isAdminAn="@ViewBag.IsAdminAn" class="btn-anaccvip" type="checkbox" checked name="An" style="height:20px; width:20px" value="@ViewBag.AnAccVip" />
                            }
                            else
                            {
                                <input data-id="@Convert.ToInt32(Session["IDNguoiDung"])" data-isAdminAn="@ViewBag.IsAdminAn"  class="btn-anaccvip" type="checkbox" name="An" style="height:20px; width:20px" value="" />

                            }
                        </div>
                        <div class="d-flex w-100 ms-2 align-items-center">
                            <img src="~/Content/images/icon/warning.png" class="img-info" width="35" alt="Alternate Text" />
                            <h4 class="text-information d-none p-2 bg-info rounded-3 mb-0 fw-bold">==> CTV có thể chủ động ẩn acc của mình trên shop bằng cách tích vào hộp check box "Ẩn Acc Vip"</h4>
                        </div>
                    </div>
                    <div class="mb-3">

                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <select class="form-select form-select-sm shadow-none" id="sapxep" name="sapxep" aria-label=".form-select-lg example">
                                    <option value="10" selected>Tình trạng</option>
                                    <option value="0" @if (ViewBag.sapxep == "0") { <text> selected</text> }>Acc chưa bán</option>
                                    <option value="1" @if (ViewBag.sapxep == "1") { <text> selected</text> }>Acc đã bán</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <input class="form-control shadow-none" type="text" id="searchInputNv" name="searchMa" placeholder="Tìm theo mã số..." value="@ViewBag.searchMa">
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <input class="form-control shadow-none" type="text" id="searchInputVk" name="searchTK" placeholder="Tìm theo Tài khoản Acc..." value="@ViewBag.searchTK">
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <select class="form-select form-select-sm shadow-none" id="loaigame" name="loaigame" aria-label=".form-select-lg example">
                                    <option value="" selected>Chọn Loại game</option>
                                    @foreach (var loaigame in ViewBag.listgame)
                                    {
                                        <option value="@loaigame.IDLoaiGame" @(ViewBag.loaigame == loaigame.IDLoaiGame ? "selected" : "")>@loaigame.TenLoaiGame</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 mb-3">
                                <div class="text-center text-nowrap">
                                    <button type="submit" class="btn btn-danger rounded-pill"><i class="fas fa-search me-2"></i>Tìm kiếm</button>
                                    <a href="/quantri/taikhoancuatoi" class="btn btn-secondary rounded-pill ms-2"><i class="fas fa-times me-2"></i>Xóa lọc</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h5 class="card-title mb-0">Tài khoản</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover my-0">
                        <thead>
                            <tr class="text-nowrap">
                                <th>Mã</th>
                                <th class="">Người đăng</th>
                                <th class="">Ngày đăng</th>
                                <th class="">Mô tả</th>
                                <th class="">Tên TK</th>
                                <th class="">Mật khẩu</th>
                                <th class="">Tình trạng</th>
                                <th class="">Loại Acc</th>
                                <th class="">Giá gốc</th>
                                <th class="">% Giảm</th>
                                @if (@ViewBag.isSaleTet == "1")
                                {
                                    <th class="">% Sale Tết</th>
                                }
                                <th class="">Giá bán</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var thoiGian24h = item.ThoiGianDang.HasValue
                                    ? item.ThoiGianDang.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    : string.Empty;
                                var tenLoaiAcc = item.LoaiAcc?.TenLoaiAcc ?? "";
                                <tr>
                                    <td>#@item.MaTaiKhoan</td>
                                    <td>@(item.NguoiDung?.TenNguoiDung ?? "")</td>
                                    <td>@thoiGian24h</td>
                                    <td>
                                        <a href="/chitiettaikhoan/xem/@item.MaTaiKhoan">
                                            @item.TenAcc
                                        </a>
                                    </td>
                                    <td>@item.TaiKhoan</td>
                                    <td>@item.MatKhau</td>
                                    @if (item.DaBan == true)
                                    {
                                        <td class="text-danger fw-bold">Đã bán</td>
                                    }
                                    else
                                    {
                                        <td class="text-success fw-bold">Chưa bán</td>
                                    }

                                    <td>@tenLoaiAcc</td>
                                    <td class="price">@item.GiaGoc VNĐ </td>
                                    <td class="">@item.PhanTram % </td>
                                    @if (@ViewBag.isSaleTet == "1")
                                    {
                                        <td class="">@ViewBag.phanTramSaleTet % </td>
                                    }
                                    <td class="price">@item.Gia VNĐ </td>

                                    <td class="text-nowrap">
                                        <a href="/quantri/taikhoancuatoi/sua/@item.IDAcc" class="badge bg-danger">Sửa</a>
                                        <a href="/quantri/taikhoancuatoi/xoa/@item.IDAcc" onclick="if (confirm('Bạn muốn xóa tài khoản này?')){return true;}else{event.stopPropagation(); event.preventDefault();};" class="badge bg-success">Xóa</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <ul class="d-flex ps-0 list-unstyled justify-content-center mt-4">
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/taikhoancuatoi?page=1&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">«</a></li>
                    @for (int i = Convert.ToInt16(ViewBag.page) - 3; i < Convert.ToInt16(ViewBag.page); i++)
                    {
                        if (i > 0)
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/taikhoancuatoi?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2  border-1 border border-dark" href="/quantri/taikhoancuatoi?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                        }
                    }
                    @for (int i = Convert.ToInt16(ViewBag.page); i <= Convert.ToInt16(ViewBag.page + 3); i++)
                    {
                        if (i <= Convert.ToInt16(ViewBag.last_page))
                        {
                            if (i == Convert.ToInt16(ViewBag.page))
                            {
                                <li><a class="text-white px-3 py-2 bg-primary  border-1 border border-white" href="/quantri/taikhoancuatoi?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                            else
                            {
                                <li><a class="text-dark px-3 py-2 border-1 border border-dark" href="/quantri/taikhoancuatoi?page=@i&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">@i</a></li>
                            }
                        }
                    }
                    <li class=""><a class="text-white px-3 py-2 bg-danger border-1 border border-white" href="/quantri/taikhoancuatoi?page=@ViewBag.last_page&sapxep=@ViewBag.sapxep&searchMa=@ViewBag.searchMa&searchTK=@ViewBag.searchTK&loaigame=@ViewBag.loaigame&theloaiacc=@ViewBag.theloaiacc">»</a></li>
                </ul>


            </div>
        </div>
    </div>
    @if (TempData["SuccessThem"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Thêm mới thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessSua"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Chỉnh sửa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    @if (TempData["SuccessXoa"] != null)
    {
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info px-3 py-2 rounded-3">
                    <img src="/Areas/quantri/Content/img/icons/check.png" class="rounded me-2" alt="..." width="48">
                    <strong class="me-auto text-white fs-5">Xóa thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
</main>

<script>

    $(document).ready(function () {
        $(".btn-show-loaiacc").click(function () {
            if ($(".show-loai-acc").hasClass("d-none")) {
                $(".show-loai-acc").removeClass("d-none").addClass("d-block");
            } else {
                $(".show-loai-acc").removeClass("d-block").addClass("d-none");
            }
        });
        $('.select-theloaiacc').on('change', function () {
            var formSearch = $('.form-search');
            if ($(this).val() == '0') {
                formSearch.attr('action', '/quantri/taikhoancuatoi');
            } else if ($(this).val() == '1') {
                formSearch.attr('action', '/quantri/taikhoancuatoi/RandomRR');
            }
        });
    });
    $(document).ready(function () {
        $('#updateForm').on('submit', function (e) {
            e.preventDefault();

            var thongbaomuaacc = $('#thongbaomuaacc').val();

            $.ajax({
                url: '/quantri/taikhoancuatoi/UpdateThongBaoMuaAcc', // Thay YourControllerName bằng tên controller của bạn
                type: 'POST',
                data: { thongbaomuaacc: thongbaomuaacc },
                success: function (response) {
                    if (response.success) {
                        $('#responseMessage').removeClass('alert-danger').addClass('alert-success').text(response.message).show();
                    } else {
                        $('#responseMessage').removeClass('alert-success').addClass('alert-danger').text(response.message).show();
                    }
                },
                error: function () {
                    $('#responseMessage').removeClass('alert-success').addClass('alert-danger').text("Đã xảy ra lỗi trong quá trình cập nhật.").show();
                }
            });
        });
    });
    $(".btn-anaccvip").change(function (e) {
        const $checkbox = $(this);
        const isChecked = $checkbox.is(":checked");
        const isAdminAn = $checkbox.data("isadminan") === true || $checkbox.data("isadminan") === "True";
        var userId = $checkbox.data("id");
        // Nếu bỏ chọn mà admin đã ẩn thì không cho tắt
        if (!isChecked && isAdminAn) {
            alert("Liên hệ admin để tắt");
            e.preventDefault();
            $checkbox.prop("checked", true);
            return;
        }

        // Gửi AJAX cập nhật trạng thái
        $.ajax({
            url: "/quanlynguoidung/AnAccVip",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                AnAccVip: isChecked,
                IdUser: userId
            }),
            success: function (response) {
                if (response.success) {
                    alert("Cập nhật thành công!");
                } else {
                    alert("Có lỗi xảy ra!");
                }
            },
            error: function () {
                alert("Lỗi kết nối đến server!");
            }
        });
    });


    $('.img-info').on('click', function () {
        $('.text-information').removeClass('d-none');
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        // Kiểm tra nếu phần tử success toast tồn tại
        var successToastElement = document.getElementById('successToast');
        if (successToastElement) {
            var successToast = new bootstrap.Toast(successToastElement);
            successToast.show();
        }
    });
</script>