@model accgame.Context.GoiNhiemVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/quantri/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GoiNhiemVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGoiNhiemVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGoiNhiemVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDGoiNhiemVu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
